.list {
    background-color: #dfe3e6;
    border-radius: 3px;
    width: 300px;
    padding: 8px;
    height: 100%;
    margin-left: 8px;
    margin-top: 8px;
    display: flex;
}

.head {
    width: 100%;
    background: #0067a3;
    height: 50px;
    color: white;
    font-size: 36px;
    padding-top: 10px;
    text-align: center;
}

.foot {
    width: 100%;
    background: #0067a3;
    height: 50px;
    color: white;
    font-size: 36px;
    padding-top: 10px;
    text-align: center;
    bottom: 0;
    position: absolute;
}

.list-container {
    display: flex;
    flex-direction: row;
}

.card {
    margin-top: 8px;
}